:root{
    --text-color: #1d263a;
    --background-color: #e8e9cd;
    --orange-color: #ff794d;
    --secondary-color: #20bfa9;
    --normal-font: 400;
    --bold-font: 800;
    --white-color: #fff;
    --black-color: #000;
}